.exam_card {
    background-color: white;
    width: 300px;
    height: 240px;
    border: 1px solid lightgray;
    border-radius: 10px;
    .logo {
        // border: 1px solid lightgray;
        // border-radius: 5px;
        padding-top: 1px;
        img {
            height: 50px;
            width: 50px;
            // border-radius: 50%;
        }
    }
    hr {
        background-color: lightgray;
    }

.top {
    margin-top: 10px;
    margin-left: 5%;
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-content: center;
    .title {
        margin-top: 5px;
    }
    h1 {
        margin: 0;
        font-size: medium;
    }
    h3 {
        margin: 0;
        font-size: x-small;
        color: gray;
    }
}
.middle {
    margin-top: 10px;
    margin-left: 20%;
    font-size: medium;
    .r1 {
        display: flex;
        gap: 10px;
        .c1{
            align-items: end;
        }
        margin-bottom: 8px;
    }
    .r2 {
        display: flex;
        gap: 10px;
    }
    .row_buttons{
        margin-top: 8px;
        display: flex;
        gap: 10px;
        button {
            padding: 10px;
            border-radius: 10px;
            background-color: white;
            border: 1px solid gray;
            margin: 0;
       }
    }
    .r4{
        margin-top: 10px;
        padding-bottom: 10px;
        color: #0066CC;
        font-size: 10;
        Link::active{
            color: #0066CC;
        }
    }
}
}