.detail_card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    font-size: 16px;
    margin-bottom: 50px;
    li {
        margin: 10px;
    }
    span {
    position: relative;
    left: 12px;
    margin-bottom: 10px;
    }
    .low {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .link {
            text-decoration: none;
            color: rgba(50,116,252,255);
        }
    .logos {
        display: flex;
        justify-content: start;
        align-items: center;
        img {
            margin: 0;
            width: 50px;
            height: 50px;
        }
        #tw{
            position: relative;
            left: -5px;
            height: 45px;
            width: 45px;
        }
        #linked{
            width: 32px;
            height: 32px;
        }
    }
}
}