.navbar {
    height: 100px;
    // margin-bottom: 50px;
    border-bottom: solid 1px black;
    background-color: white;
    .wrapper{
        padding: 10px 30px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    
    .item{
        display: flex;
        align-items: center;
        font-size: 18px;
    }

    .left{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 40px;
        img {
            height: 75px;
            width: 120px;
        }
        .search {
            float:right;
            margin:7px;
            border: solid 1px #0074D9;
            padding: 10px;
            border-radius: 20px;
            input {
            width:300px;
            height:25px;
            border: none;
            font-size: 15px;
            outline: none;
            }
            button {
                background-color: #0074D9;
                color: #f2f2f2;
                float: right;
                padding: 5px 10px;
                margin-right: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
            }
        }
        .profile {
            img {
                margin: 0px;
                height: 35px;
                width: 35px;
                border-radius: 50%;
            }
            width: 25px;
            height: 25px;
            border-radius: 50%;
            :hover {
                cursor: pointer;
                border: 0.5px solid gray;
            }
        }
        span:hover {
            color: #0074D9;
            cursor: pointer;
        }
    }
    
    .center{
        font-size: 30px;
        letter-spacing: 2px;
    }
}
}